/****** General ***********/
html, body {
    /* width: 100%;
    height: 100%; */
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*truc a moi (navigation)*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
}

header img {
    width: 61px;
    height: 19px;
}

.navigation-bar {
    display: flex;
    align-items: center;
    gap: 68px;
    height: 100%;
}

.navigation-bar a {
    display: flex;
    height: 100%;
    align-items: center;
}

.navigation-bar a:hover {
    border-top: 2px solid var(--main-color); /*Pas sur des valeurs*/
    color: var(--main-color);
    cursor: pointer;
}

/*truc a moi (info)*/
.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*truc a moi (headline)*/
.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline h1 {
    margin-bottom: 0;
}

.headline p {
    margin-top: 0;
}

/*truc a moi (searchbar) */
.search-bar {
    display: flex;
}

.search-bar input {
    border: 0.1px solid var(--main-bg-color);
    padding: 0 24px 0 24px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color:black;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

/*truc à moi (filtres) */

.filter-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filters {
    display: flex;
    gap: 20px;
}

.filters h2 {
    font-size: 18px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px;
    background-color: white;
    border: 0.1rem solid var(--main-bg-color);
    border-radius: 1.5rem;
}

.filter:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter img {
    width: 22px;
    height: 22px;
}

.filter span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
}

/*truc à moi (info) */

.info-bar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.info-bar p {
    margin-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
    width: 65%;
    padding: 30px;
    margin-right: 40px;
}

/*trucs à moi (hebergement)*/
.hebergements-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
} 

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    gap: 4px;
    flex: 1 0 0;
}

.hebergements-cards a {
    width: 100%;
    height: 200px;
}

.hebergements-cards img { /*juste hebergement pas populaire (radius)*/
    width: 100%;
    max-height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;    
    gap: 8px;
    margin: 0 15px 15px;
    width: 100%;
}

#afficher-plus {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin: 10px 0 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*trucs à moi (activites)*/

.activites {
    padding: 30px;
}

.activites h2 {
    margin-bottom: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    
}

.activites-cards a {
    flex: 1;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height:  439px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10); 
    padding: 0;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    justify-self: flex-start;
}

.activites-cards .card-content {
    align-self: flex-start;
    padding: 20px 19px;
}

.activites-cards h3 {
    font-size: 16px;
    font-weight: 700;
}


/* trucs à moi (footer) */

footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.footer-item {
    flex-grow: 1;
    padding: 20px;
}

.footer-item ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content:flex-start;
    padding: 0;
}

.footer-item h3 {
    font-size: 18px;
    font-weight: 700;
}

.footer-item a {
    font-size: 16px;
    text-align: left;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card {
        height: 270px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    header {
        height: unset;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 30px;
    }

    header img {
        padding: 30px;
    }

    .navigation-bar {
        width: 100%;
        justify-content: center;
        flex: 1;
    }

    .navigation-bar a {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-bottom: 15px;
    }

    .navigation-bar a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color); /*Pas sur des valeurs*/
    }

    .search-bar input {
        width: 100%;
    }

    .search-bar button {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .search-bar span {
        display: none;
    }

    .search-bar button::after {
        content: "\f002";
        font-family: "Font Awesome 6 Free";
    }

    .info {
        padding: 0 20px;
    }

    .headline h1 {
        font-size: 22px;
        font-weight: 700;
    }

    .headline p {
        font-size: 16px;
        font-weight: 400;
    }

    .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background: none !important;
    }

    .hebergements-cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 18px;
    } 

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .activites-cards {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
}